@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #F3F3F3;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.top {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    box-shadow: 0px 4px 6px 0px #0000000D;
    position: fixed;
    top: 0;
    left: 0;
}

.top-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
}

.mensage {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    line-height: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;
    margin-bottom: 4px;
    background-color: #dcdcdc;
}

.mensage p{
    padding-top: 2px;
    padding-right: 5px;
}

.mensage .info {
    font-weight: 700;
    color: black;
    margin-right: 4px;
}


.mensage .time {
    color: #aaaaaa;
    margin-right: 5px;
}

.private_message{
    background-color: #FFDEDE;
}

.message{
    background-color: #ffffff;
}

.status{
    background-color: #dcdcdc;
}

.norm{
    font-style: normal;
    font-weight: 400;
}

img {
    width: 75px;
    height: 53px;
}

.top-icons ion-icon {
    width: 45px;
    height: 45px;
}

.bottom-bar {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    box-shadow: 0px -4px 6px 0px #0000000D;
    position: fixed;
    bottom: 0;
    left: 0;
}

.container {
    width: 100%;
    margin-top: 110px;
    margin-bottom: 84px;
}

.send-mensage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 18px 0px 17px;
}

.send-mensage div {
    width: 80%;
}

.send-mensage div input {
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    color: black;
    border: none;
    width: 145px;
    height: 30px;
}

.send-mensage ion-icon {
    width: 25px;
    height: 25px;
}

.message-description {
    color: #AEAEAE;
    width: 310px;
    height: 25px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-left: 3px;
}

.image-loading {
    width: 100px;
    height: 100px;
    margin: 70px 0 20px 0;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.text-loading {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.logo img {
    margin-top: 72px;
    width: 130px;
    height: 92px;
}

.confirm-button, .inputName {
    font-family: Roboto;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.confirm-button {
    height: 45px;
    width: 109px;
    margin-top: 15px;
    border-radius: 9px;
    background-color: #E7E7E7;
    color: #696969;
}

input[type="submit"] {
    border: none;
    outline:none;
}

.inputName {
    margin-top: 95px;
    color:black;
    width: 261px;
    min-height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.text-send::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
}

.text-send::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
}

.text-send:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

textarea::placeholder {
    padding-top: 10px;
    color: black;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.side-bar {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 2;
}

.film {
    background-color: rgb(0, 0, 0, 0.6);
    width: 31%;
    height: 100%;
}

.active-participants {
    width: 69%;
    height: 100%;
    background-color: #ffffff;
}

.title {
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
}

.text {
    color: black;
}

.user, .option {
    height: auto;
    width: auto;
    display: flex;
    position: relative;
    align-items: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 10px 0px 10px 17px;
    box-sizing: border-box;
}

.users {
    max-height: 50%;
    overflow:auto;
}

.user ion-icon:first-child, .option ion-icon:first-child {
    width: 25px;
    height: 25px;
}

.check {
    position: absolute;
    right: 15px;
    width: 15px;
    height: 15px;
    color: #28BB25;
    --ionicon-stroke-width: 130px;
}

p {
    width: 100%;
    overflow-wrap: break-word; 
}

.user p, .option p {
    margin-left: 5px;
}
.option p {
    padding-top: 5px;
}

.hiden {
    display: none;
}
